@import 'bootstrap/dist/css/bootstrap.min.css';

@import url('https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.header__title {
  font-family: 'Roboto', sans-serif;
}

.horizontal__line {
  margin-top: -6px;
  margin-bottom: 30px;
}

.side.col-2 {
  width: 228px;
  /* width: 131px; */
}

.col-2.sidebar__small {
  width: 131px;
}
